@{
    ViewData["Title"] = "山田うなぎ　新館";
}

@*<div class="text-center">*@
    <div class="container-fluid">
    @*            <div class="col-2 vertical-text">
    <a class="" asp-area="" asp-controller="Home" asp-action="Access">店舗のご案内</a>
    <br />
    <a class="" asp-area="" asp-controller="Home" asp-action="Menu">メニュー</a>
    <br />
    <a class="" asp-area="" asp-controller="Home" asp-action="Info">お知らせ</a>
    <br />
    <a class="" asp-area="" asp-controller="Home" asp-action="About">山田うなぎ　新館</a>
    </div>*@
    @*            <div id="video-container">
    <video id="video" autoplay muted loop>
    <source src="Img/4.mp4" type="video/mp4">
    <!-- 追加の動画形式（WebMやOggなど）も指定できます -->
    </video>
    </div>*@
    @*            <div class="col-11 vertical-text">
    <div id="imageContainer">
    <img id="image" src="Img/1.jpg" alt="画像">
    </div>
    </div>*@
        <div class="row" id="vedeo1">
        <div id="video-container">
            <p>山田うなぎ　新館</p>
            <video id="video" autoplay muted loop>
                <source src="./Img/10.mp4" type="video/mp4">
                <!-- 追加の動画形式（WebMやOggなど）も指定できます -->
            </video>
        </div>
@*            <div class="video-wrap">
                <p>山田うなぎ　新館</p>
                <video src="http://webcreatorbox.com/sample/images/jewellery.mov" autoplay loop muted>
                    <img src="http://webcreatorbox.com/sample/images/jewellery.jpg" alt="Placeholder">
                </video>
            </div>
        </div>*@
        <div class="row">
            <div class="col-1 vertical-text">
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                    <h1>山田うなぎ　新館</h1>
                </a>
                </div>
        </div>
    </div>
</div>
