@{
    ViewData["Title"] = "山田うなぎ　新館";
}

<div class="text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 vertical-text">
                <a class="" asp-area="" asp-controller="Home" asp-action="Access">店舗のご案内</a>
                <br />
                <a class="" asp-area="" asp-controller="Home" asp-action="Menu">メニュー</a>
                <br />
                <a class="" asp-area="" asp-controller="Home" asp-action="Info">お知らせ</a>
                <br />
                <a class="" asp-area="" asp-controller="Home" asp-action="About">山田うなぎ　新館</a>
            </div>
            <div class="col-9 vertical-text">
                <div id="imageContainer">
                    <img id="image" src="Img/1.jpg" alt="画像">
                </div>
            </div>
            <div class="col-1 vertical-text">
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                    <h1>山田うなぎ　新館</h1>
                </a>

            </div>
        </div>
    </div>
</div>
