@{
    ViewData["Title"] = "山田うなぎ　新館";
}

<div class="text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="text-left">★メイン</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../IMG/1.jpg" alt="山田うなぎ　新館" class="img-fluid">
            </div>
            <div class="col-4">
                <img src="../IMG/1.jpg" alt="山田うなぎ　新館" class="img-fluid">
            </div>
            <div class="col-4">
                <img src="../IMG/1.jpg" alt="山田うなぎ　新館" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                メニュー1
            </div>
            <div class="col-4">
                メニュー2
            </div>
            <div class="col-4">
                メニュー3
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <h2 class ="text-left">★一品物</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../IMG/2.jpg" alt="山田うなぎ　新館" class="img-fluid">
            </div>
            <div class="col-4">
                <img src="../IMG/2.jpg" alt="山田うなぎ　新館" class="img-fluid">
            </div>
            <div class="col-4">
                <img src="../IMG/2.jpg" alt="山田うなぎ　新館" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                メニュー4
            </div>
            <div class="col-4">
                メニュー5
            </div>
            <div class="col-4">
                メニュー6
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <h2 class ="text-left">★お飲み物</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../IMG/3.jpg" alt="山田うなぎ　新館" class="img-fluid">
            </div>
            <div class="col-4">
                <img src="../IMG/3.jpg" alt="山田うなぎ　新館" class="img-fluid">
            </div>
            <div class="col-4">
                <img src="../IMG/3.jpg" alt="山田うなぎ　新館" class="img-fluid">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                メニュー7
            </div>
            <div class="col-4">
                メニュー8
            </div>
            <div class="col-4">
                メニュー9
            </div>
        </div>
    </div>
</div>
